.demo{
  margin: 5px auto;
  background-color: white;
  padding-bottom: 220px;
  width: 100%;
}

.bubble{
  background-color: white;
  padding: 6px;
  font-size: 10px;
  border-style: solid;
  width: auto;
  height: 20%;
  overflow-y: scroll;
}

.cont {
  width:auto;
  height:auto;
  margin: 8px;
}

.contain {
  width:auto;
  height:auto;
  margin: 8px;
  overflow:hidden;
}

.bottompane{
  background-color: white;
  font-size: 10px;
  width: 98%;
  height: 100px;
  margin-right: 8px;
  margin-left: 8px;
  position: absolute;
  overflow-y: scroll;
  border-style: solid;
  display: inline;
}

.child {
  width:auto;
  height:100px;
  display: table-cell;
}

.newchild {
  width : 150px;
  margin-right: 40px;
  display:inline-block;
  vertical-align: middle;
}

.canvasDiv {
  display: inline-block;
  vertical-align: middle;
}

.settingsDiv {
  background-color:white;
  padding: 6px;
  font-size: 9.5px;
  margin-top: 8px;
  border-style: solid;
  width: auto;
  height: 39%;
  overflow-y: scroll;
}

.container {
  display:inline-block;
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

body,h1,h2,h3,h4,h5,h6,p {
  font-family: "Montserrat", sans-serif
}

img{
  width: 60%;
  height: 60%;
  margin-right: 8px;
  border-style: solid;
  float: left;
}

.canvas2{
  width: 60%;
  height: 60%;
  margin-right: 8px;
  border-style: solid;
  float: left;
}

input {
    border: 0;
    width: auto;
}

input_long {
    border: 0;
    width: 300px;
}
